* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-space-between {
    justify-content: space-between;
}

.container {
    width: 100%;   
}

header {
    height: 80px;
    background-color: #0084fd;
}

