* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-space-between {
    justify-content: space-between;
}

.container {
    width: 100%;   
}

header {
    height: 80px;
    background-color: #0084fd;
}

.cards{
    padding: 1rem;
}

.card {
    width: 100%;
    height: 250px;
    margin: 2rem 0;
}

#introduction .card {
    background-color: #b5ddff;
}

#planning  {
    background-color: #9792e4;
    padding: 1rem;
}

#planning .col{
    width: 100%;
    height: 600px;
    background-color: brown;
    margin: 1rem 0;
}

#planning .col-right {
    height: 500px;
}

.testimonial {
    flex-direction: column;
    width: calc(100% - 2rem);
    height: 200px;
    background-color: #9792e4;
    margin: 1rem auto;
}

.testimonial .col-left {
    flex-basis: 20%;
}

.testimonial .col-right {
    flex-basis: 80%;
}

#benefits {
    background-color: #9792e4;
}

#benefits .card{
    background-color: white;
}

#about-us .row {
    padding: 1rem;
}

#about-us .col {
    width: 100%;
    height: 300px;
    background-color: coral;
    margin: 1rem 0;
}

#get-started {
    background-color: #9792e4;
}

.content {
    width: calc(100% - 2rem);
    height: 600px;
    margin: 1rem auto;
    padding: 3rem 0;
    background-color: white;
}

footer {
    height: 120px;
    background-color: #333333;
}

.p,
.links {
    width: calc(100% - 2rem);
    height: 50px;
    margin: 1rem auto;
    padding: 1rem 0;
    background-color: cyan;
}


/* RESPONSIVE */

/* tablet */
@media screen and (min-width: 768px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 0 1rem 1rem;
    }

    .card {
        margin: 0 1rem 1rem 0;
    }

    #introduction .card:first-child {
        width: calc(100% / 3 * 2 - 1rem);
    }

    #introduction .card {
        width: calc(100% / 3 - 1rem);
    }

    .testimonial {
        flex-direction: row;
    }

    #benefits .card {
        width: calc(100% / 2 - 1rem);
    }

    #about-us .row {
        display: flex;
    }

    #about-us .col-left {
        flex-basis: 60%;
    }

    #about-us .col-right {
        flex-basis: 40%;
    }

    .content,
    .p,
    .links {
        width: 80%;
        margin: 0 auto;
    }

}

/* desktop */
@media screen and (min-width: 992px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }

    .row {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }

    #planning .col {
        width: 40%;
    }

    #benefits .card {
        width: calc(100% / 3 - 1rem);
    }

    #about-us .col-left {
        flex-basis: 70%;
    }

    #about-us .col-right {
        flex-basis: 30%;
    }

    .content,
    .p,
    .links {
        width: 50%;
        margin: 0 auto;
    }

}