* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex-space-between {
    justify-content: space-between;
}

.container {
    width: 100%;   
}

header {
    height: 80px;
    background-color: #0084fd;
}

.cards{
    padding: 1rem;
}

.card {
    width: 100%;
    height: 250px;
    background-color: #b5ddff;
    margin: 2rem 0;
}

#planning  {
    background-color: #9792e4;
    padding: 1rem;
}

.row .col {
    width: 100%;
    height: 600px;
    background-color: brown;
    margin: 1rem 0;
}

.row .col-right {
    height: 500px;
}

.testimonial {
    flex-direction: column;
    width: calc(100% - 2rem);
    height: 200px;
    background-color: #9792e4;
    margin: 1rem auto;
}

.testimonial .col-left {
    flex-basis: 20%;
}

.testimonial .col-right {
    flex-basis: 80%;
}

/* RESPONSIVE */

/* tablet */
@media screen and (min-width: 768px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
    }

    .card:first-child {
        width: calc(100% / 3 * 2 - 1rem);
    }

    .card {
        width: calc(100% / 3 - 1rem);
        margin: 0 1rem 1rem 0;
    }

    .testimonial {
        flex-direction: row;
    }


}

/* desktop */
@media screen and (min-width: 992px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }

    .row {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }

    .row .col {
        width: 40%;
    }

}